.App1{
  
  height: 550px;
  width: 350px;
  background-color: whitesmoke;
  margin-top: 70px;
  margin-left: 100px;
  text-align: center;

  
}
.App1:hover{
  transform: scale(1.2);
}
.App{

  display: flex;
  flex-wrap: wrap;
  
}
input{
  margin-left: 500px;
  width: 500px;
  height: 50px;
  text-size-adjust: 40px;
}
.head{
  text-align: center;
  text-shadow: 0.5cm;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 2px;
  color:black;
}
.App1 img{
  width: 350px;
  height: 350px;
}



